* {
  margin: 0;
  padding: 0; }

/*Index*/
body header .navbar {
  background-color: #000; }
  body header .navbar .container-fluid img {
    width: 200px; }
  body header .navbar .container-fluid ul li a {
    color: white; }
    body header .navbar .container-fluid ul li a:active {
      color: #1ee04e; }
    body header .navbar .container-fluid ul li a:hover {
      color: gray; }

body .fondoPrincipal {
  background-image: url("../assets/images/fondo4.jpg");
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body footer {
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center; }
  body footer .parrafoFooter {
    font-family: "Bacasime Antique", serif;
    font-size: 1rem;
    color: #ffffff; }
  body footer .redes {
    display: flex; }
    body footer .redes li {
      list-style-type: none; }
      body footer .redes li a .redes1 {
        width: 2rem;
        padding: 0.5rem;
        filter: grayscale(100); }

/*About us*/
body header .navbar {
  background-color: black; }

body .fondoAbout {
  background-image: url("../assets/images/fondo66.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  body .fondoAbout .tituloh1 {
    text-align: center;
    color: white;
    font-family: "Bacasime Antique", serif; }
  body .fondoAbout .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "parrafo-1  imagen-1" "imagen-2 parrafo-2";
    column-gap: 15px;
    color: white; }
    body .fondoAbout .contenedor .area1 {
      grid-area: parrafo-1;
      color: #a7a6a6;
      max-width: 95%; }
      body .fondoAbout .contenedor .area1 p {
        padding: 3%;
        max-width: 95%; }
    body .fondoAbout .contenedor .area2 {
      grid-area: imagen-1;
      max-width: 100%; }
      body .fondoAbout .contenedor .area2 img {
        width: 70%;
        height: auto; }
    body .fondoAbout .contenedor .area3 {
      grid-area: parrafo-2;
      max-width: 95%;
      color: #a7a6a6; }
      body .fondoAbout .contenedor .area3 p {
        max-width: 95%; }
    body .fondoAbout .contenedor .area4 {
      grid-area: imagen-2;
      max-width: 100%; }
      body .fondoAbout .contenedor .area4 img {
        padding: 3%;
        width: 70%;
        height: auto; }

body footer {
  background-color: black; }

/*Media queries general*/
@media screen and (max-width: 768px) {
  body main .contenedor {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 1, 1fr;
    grid-template-areas: "parrafo-1 imagen-1" "imagen-2 parrafo-2";
    column-gap: 10px; } }

@media screen and (max-width: 480px) {
  body .fondoAbout {
    max-width: auto; }
  body main .contenedor {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 4, 1fr;
    grid-template-areas: "imagen-1" "parrafo-1" "imagen-2" "parrafo-2"; }
    body main .contenedor .area1 {
      grid-area: parrafo-1;
      color: #a7a6a6;
      max-width: 470%; }
      body main .contenedor .area1 p {
        padding: 3%;
        max-width: 470px; }
    body main .contenedor .area2 {
      grid-area: imagen;
      max-width: 470px; }
      body main .contenedor .area2 img {
        max-width: 470px;
        height: auto; } }

/*Discography*/
body .fondoDisco {
  background-image: url("../assets/images/fondo.dsco2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  body .fondoDisco h2 {
    text-align: center;
    font-family: "Bacasime Antique", serif; }
  body .fondoDisco p {
    text-align: center;
    font-family: "Bacasime Antique", serif; }

/*Photos*/
body header .navbar {
  background-color: black; }

body main .tituloPhotos {
  text-align: center;
  color: #a9a2a2; }

body main .carousel-item img {
  max-width: 60%;
  margin: auto; }

body main .fondoPrueba1 {
  background-image: url(../assets/images/fondoPhotos1.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body main .fondoPrueba2 {
  background-image: url(../assets/images/carousel.6.webp);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body main .fondoPrueba3 {
  background-image: url(../assets/images/carousel.2.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body main .fondoPrueba4 {
  background-image: url(../assets/images/mathame22.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body main .fondoPrueba5 {
  background-image: url(../assets/images/mathame.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body main .fondoPrueba6 {
  background-image: url(../assets/images/carousel.4.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }

body main .carousel-control-next {
  width: 44%; }

body main .carousel-control-prev {
  width: 44%; }

body footer {
  background-color: black; }

/*Contacto*/
body main .container-fluid form .tipografiaContact {
  font-family: "Bacasime Antique", serif; }

body main .container-fluid form .tipografiaContact {
  font-family: "Bacasime Antique", serif; }

body main .container-fluid form button:hover {
  color: gray; }

body main .container-fluid form .fondoEjemplo {
  background: #888888;
  background: radial-gradient(circle, #3a3939 0%, black 87%);
  color: white; }

body footer .redes3 {
  width: 2em;
  padding: 0.5em;
  filter: grayscale(100); }
