/* * { OK
    margin: 0;
    padding: 0;
} */

/* .container-fluid img { OK
    width: 200px;
} */

/* contacto */

/* .fondoEjemplo {
    background: rgb(136, 136, 136);
    background: radial-gradient(circle, rgb(58, 57, 57) 0%, rgb(0, 0, 0) 87%);
    color: rgb(255, 255, 255); PASADO OK
} */

/* .tipografiaContact {  PASADO OK 

    font-family: 'Bacasime Antique', serif;
}

.tipografiaForm { PASADO OK
    font-family: 'Bacasime Antique', serif;
} */

/*index1*/

/* .fondoPrincipal { OK
    background-image: url(../assets/images/fondo4.jpg);
    max-width: 100%;
    height: 100vh;

    background-position: center;
    background-size: cover;
} */
/* 
.footer { PASADO OK
    padding: 1em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: #000;  OK
    color: #ffffff;  OK
    font-family: 'Bacasime Antique', serif;  OK

} */


/* .redes { PASADO OK
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.redes1 { PASADO OK
    width: 2 rem;
    padding: 0.5 rem;
    filter: grayscale(100);
}

/* .redes3 {  PASADO OK
    width: 2em;
    padding: 0.5em;
    filter: grayscale(100);
} */


/* ul li a {
    color: dimgrey;
}  */


/*about us*/

/* .fondoAbout { OK
    background-image: url(../assets/images/fondo66.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


/* .tituloh1 { OK
    text-align: center;
    color: white;
    font-family: 'Bacasime Antique', serif;
} */

/* .contenedor {OK
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "parrafo-1 parrafo-1 imagen-1"
        "imagen-2 parrafo-2 parrafo-2";
    column-gap: 20px;
    color: white;
.area4 { OK
    grid-area: imagen-2; */
/* } */


/* discography */

/* .tituloDisco { OK
    text-align: center;
    font-family: 'Bacasime Antique', serif;
} */

/* Photos */

/* 
.tituloPhotos {
    text-align: center;
    color: rgb(169, 162, 162);

} */

/* .fondoPrueba1 {OK
    background-image: url(../assets/images/fondoPhotos1.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.fondoPrueba2 {OK
    background-image: url(../assets/images/carousel.6.webp);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.fondoPrueba3 {OK
    background-image: url(../assets/images/carousel.2.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
} */

/* .fondoPrueba4 {OK
    background-image: url(../assets/images/mathame22.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
} */

/* .fondoPrueba5 {OK
    background-image: url(../assets/images/mathame.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.fondoPrueba6 {OK
    background-image: url(../assets/images/carousel.4.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
} */

/* .carousel-item img {
    max-width: 60%;
    margin: auto;
} */

/* .carousel-inner {
    text-align: center;
} */

/* .carousel-control-next {OK
    width: 44%;
}

.carousel-control-prev {OK
    width: 44%;
} */