* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

header {
    display: flex;
    height: 10vh;
    background-color: black;

}



.logoindex {
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;

}

.menu {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.footer {
    padding: 1em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: #000;
    color: #ffffff;

}

.copy {
    text-align: center;
}
 .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.redes2 {
    width: 2em;
    padding: 0.5em;
    filter: grayscale(100);
}
 

ul li a {
    color: dimgrey;
}
main {
    height: 80vh;
}

footer {
    height: 10vh;
}


