* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../assets/images/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: table;
    border: solid 3px rgb(33, 58, 168);

}

.menu{
    width: 900px;
    margin: auto;
}
header div img {
    width: 140px;
    height: 65px;
    float: left;
    padding: 8px;
}
nav ul {
   float: none;
   
}
nav ul li {
    list-style: none;
    margin-left: 70px;
    padding: 6px;
    float: left;
}
nav ul li a {
    text-decoration: none;
    color: rgb(38, 93, 147);
    font-weight: bold;
}
main {
height: 70%; ;
}

 #otroh1 {
    text-align: center;
    font-size: 60px;
    font-family: 'mathame'; src: url(../assets/fonts/Letra\ mathame/);
   color: black;
   text-decoration: none;
}

footer div ul li {
    text-align: center;
    color: black;
    height: 15%;
    margin-top: 125px;
}

footer div ul li a { 
    text-decoration: none;
    border: solid 3px black;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
}

 .piedepagina {
    text-align: center;
    text-decoration: underline;

}
#otro {
    color:rgb(1, 3, 4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    text-decoration: solid;
    }

/*contacto*/

#fondocontacto {
    background-image: url(../assets/images/fondo\ contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#formulario {
    display: inline-block;
    text-align: center;
    height: 49%;
    border-style: inset;
    border-width: thick;
    border-color: rgb(126, 133, 217);
    padding: 5px;
    margin-left: 600px;
}

fieldset {
    border: none;
}


.letradistinta {
    font-family: "playfair";
}
@font-face {
   font-family: "playfair";
    src: url(../assets/fonts/Playfair\ \(2\).zip);
}



/*about us*/

.tituloh1 {
    text-align: center;
    text-decoration: line-through;
}
#main {
    display: inline-block;
    font-size: 0;
    height: 70%;
    background-color: black;
    position: fixed;
}

#cuerpoabout {
    margin-top: 10px;
    display: inline-block;
    font-size: 1rem;
    width: 60%;
}

main div h2 {
    color: rgb(79, 88, 189);
    text-align: center;
    font-size: 1rem;
    font-size: 22px;
}
main div p {
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    font-size: 1rem;
}

#imgabout {
    display: inline-block;
    font-size: 1rem;
    width: 40%;
    text-align: center;
}

/* Shows */

#backgroundshows {
background-image: url(../assets/images/shows\ background.jpg);
}

.titulo3 {
    text-align: center;
    text-decoration: line-through;
}


main ul {
    border: solid 5px black;
     background-color: rgb(138, 169, 193);
     text-align: center;
}

main ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    
}

#videoshow {
    text-align: center;
}

/* discography */

.backgrounddisco {
    background-color: black;
}

.titulo4 {
    text-align: center;
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

div h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#fontsize {
    font-size: 0;
}

main div a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

#albumes {
 display: inline-block;
 font-size: 1rem;
 width: 50%;
 margin-top: 50px;
}

#division1 {
    font-size: 1rem;
    margin-top: 50px;
}

#albumes2 {
    display: inline-block;
    font-size: 1rem;
    width: 50%;
    text-align: left;
}

#division2 {
    font-size: 1rem;
}