* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

header {
    height: 15vh;
    background-color: black;

}

.footer {
    padding: 1em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}


ul li a {
    color: dimgrey;
}
main {
    height: 75vh;
}

footer {
    height: 10vh;
}

