/*About us*/

body {
    header {
        .navbar {
            background-color: black;
        }
    }
    
    .fondoAbout {
        background-color: rgb(46, 46, 46);

        .tituloh1 {
            text-align: center;
            color: white;
            font-family: $tipografiaPaginas;
        }

        .contenedor {
            display: grid;
            column-gap: 5px;
            color: white;

            .grid1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                align-items: center;

                img {
                    display:flex;
                    width: 82%;
                    height: auto;
                }

                .flex {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-family: $tipografiaAboutus;
                        align-items: center;
                        text-align: center;
                        padding: 3%;
                        max-width: 95%;
                    }
                }
            }
        }
    }

    footer {
        background-color: black;
    }
}

/*Media queries*/

@media screen and (max-width: 768px) {
    body {
        .fondoAbout {
            .contenedor {
                column-gap: 3px;

                .grid1 {
                    grid-template-columns: 1fr;

                    .img {
                        width: 82%;
                        height: auto;
                    }

                    .flex {
                        flex-direction: column;

                        p {
                            padding: 3%;
                            max-width: 95%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        .fondoAbout {
            max-width: auto;
        }

        main {
            .contenedor {
                display: block;
                grid-template-columns: 1fr;
                grid-template-rows: (4, 1fr);
                grid-template-areas:
                    "imagen-1"
                    "parrafo-1"
                    "imagen-2"
                    "parrafo-2";

                .area1 {
                    grid-area: parrafo-1;
                    color: rgb(167, 166, 166);
                    max-width: 470%;

                    p {
                        padding: 3%;
                        max-width: 470px;
                    }
                }

                .area2 {
                    grid-area: imagen;
                    max-width: 470px;

                    img {
                        max-width: 470px;
                        height: auto;
                    }
                }

            }
        }
    }
}