/*Contacto*/

body {
    main {
        .container-fluid {
            form {
                .tipografiaContact {
                    font-family: $tipografiaPaginas;

                }

                button {
                    &:hover {
                        color: gray;
                    }
                }

                .fondoEjemplo {
                    background: rgb(136, 136, 136);
                    background: radial-gradient(circle, rgb(58, 57, 57) 0%, rgb(0, 0, 0) 87%);
                    color: white;
                }

            }
        }
    }

    footer {
        .redes3 {
            width: 2rem;
            padding: 0.5rem;
            filter: grayscale(100);
        }
    }


}

